
.TradeAndSkillsPrimaryTrade{
    font-family: "Montserrat";
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 26px;

color: #162A49;
}
.FormInputContainer{
    display: flex;
    flex-direction: row;
    margin-top: 36px;
}
.Container{
    display: flex;
    justify-content: center;
    padding-bottom: 44px;
    width: 770px;
    left: 391px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgb(0 0 0 / 7%);
    border-radius: 5px
}
.SelectTextCustomize{
font-family: "Montserrat";
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;

letter-spacing: 0.06em;
text-transform: uppercase;

color: #808FA6
}
.FormInputDropDownField{
Width:100%;
Height:50px;
}
.FormInputDropTextField{
Width:100%;
Height:50px;
background-color: #FFFFFF;
border: 2px solid #C7D0DE;
box-sizing: border-box;
border-radius: 6px;
}
.ButtonContainer{
    margin-top: 33px;
    width: 664px;
}

