.ProfileButtonCustomize {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 49px;
    border-radius: 5px;
    border-color: none !important;
    border-width: 0px !important;
    border-style: none !important;
    background-color: #2ec2e2 !important;
    border-radius: 5px !important;
  }